---
import { site } from "../data/site.js";
---
<div class="sticky-cta">
  <a href={site.telefoonHref} class="btn btn--call" aria-label="Bel ons">Bel</a>
  <a href="/#boeken" class="btn btn--primary">Boek jouw photobooth</a>
</div>
